<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neeraj.example.doct">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor2"
        android:label="Doct"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SymptomActivity" />
        <activity android:name=".Disease" />
        <activity android:name=".Medicine" />
        <activity android:name=".Search" />
        <activity android:name=".Help" />
        <activity android:name=".DiseaseDetails"></activity>
    </application>

</manifest>